@import "header.scss";
@import "index.scss";
@import "footer.scss";
@import "contact.scss";
@import "programmation.scss";
@import "infos.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gold: #d4a843;
  --gold-dark: #d99200;
  --bg-nav: #2a2d34;
  --text-white: #f5f0e8;
  --nav-height: 80px;
  --text-red: #6b1d3a;
}
.gold {
  color: var(--gold);
}

@font-face {
  font-family: "playfair";
  src: url(../font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "lato";
  src: url(../font/Lato/Lato-Regular.ttf);
}

body {
  color: var(--text-white);
}

h1 {
  text-transform: uppercase;
}
